@charset "UTF-8";
.galeria__posicion, .linksInteres, .divMigue, .descripcionMigue, .divPablito, .descripcionPablo {
  display: flex;
  justify-content: center;
  align-items: center; }

html {
  font-size: 62.5%; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  background: linear-gradient(to right, #4b0505f8, #682323f8); }

header {
  display: flex;
  flex-flow: row  nowrap;
  justify-content: space-between;
  align-items: flex-end; }
  @media only screen and (max-width: 950px) {
    header {
      flex-direction: column-reverse;
      align-items: center; } }
  @media only screen and (max-width: 480px) {
    header {
      flex-direction: column;
      align-items: center; } }

@media only screen and (max-width: 950px) {
  .logoEstudio {
    width: 100px;
    height: 85px; } }

@media only screen and (max-width: 480px) {
  .logoEstudio {
    width: 100px;
    height: 85px;
    margin: 0 auto; } }

.barraDeNavegacion ul li {
  padding: 20px;
  text-align: center; }
  @media only screen and (max-width: 480px) {
    .barraDeNavegacion ul li {
      padding: 5px; } }

@media only screen and (max-width: 950px) {
  .barraDeNavegacion {
    display: none; } }

.linksDerecha {
  list-style: none;
  display: flex;
  transition: .5s linear; }
  .linksDerecha:hover {
    color: #fff;
    text-shadow: 0 0 15px white, 0 0 30px white, 0 0 60px white; }
  .linksDerecha:hover:nth-child(1) {
    margin-right: 5px; }
  .linksDerecha:hover:nth-child(2) {
    margin-right: 30px; }
  .linksDerecha a {
    text-decoration: none;
    color: #fff;
    font-family: "Lexend Peta", sans-serif;
    font-size: 1.6rem;
    font-weight: 300; }
    .linksDerecha a:hover {
      color: darkkhaki; }
    @media only screen and (max-width: 950px) {
      .linksDerecha a {
        font-size: 1.4rem;
        text-align: center; } }
  .linksDerecha li {
    padding: 10px; }
  @media only screen and (max-width: 950px) {
    .linksDerecha {
      background: linear-gradient(to right, #4b0505f8, #682323f8);
      text-align: center;
      background: rgba(0, 0, 0, 0.415);
      border-radius: 10px;
      height: 11vh;
      align-items: center; } }
  @media only screen and (max-width: 480px) {
    .linksDerecha {
      flex-direction: column;
      background: rgba(0, 0, 0, 0.852);
      padding: 40px;
      height: 100%; } }

.barra {
  display: none;
  z-index: 100; }
  @media only screen and (max-width: 950px) {
    .barra {
      display: inline-block;
      position: absolute;
      right: 1rem;
      top: 1rem; } }
  .barra .btn__nav .btn__navflex {
    justify-content: flex-end; }
    .barra .btn__nav .btn__navflex .icon__hoover:hover {
      color: #fff;
      text-shadow: 0 0 15px white, 0 0 30px white, 0 0 60px white; }

.fa-whatsapp-square {
  font-size: 50px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  color: #30cc30; }
  @media only screen and (max-width: 950px) {
    .fa-whatsapp-square {
      font-size: 40px; } }

footer {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #293232f8, #3D4646f8); }
  @media only screen and (max-width: 950px) {
    footer {
      flex-direction: column; } }
  footer div .fraseFooter {
    font-family: "Lexend Peta", sans-serif;
    font-size: 1.5rem; }
  footer .fa-registered {
    padding: 5px; }
  footer .iframeMapa {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 225px; }
    @media only screen and (max-width: 950px) {
      footer .iframeMapa {
        width: 150px;
        height: 112px;
        margin: 0 auto !important; } }
  footer .datosFooter {
    font-family: "Lexend Peta", sans-serif;
    color: #d4c0c0;
    letter-spacing: -.2rem;
    font-size: 1.5rem;
    margin-right: 15px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column; }
    footer .datosFooter .listaFooter {
      list-style: none; }
      footer .datosFooter .listaFooter .fa-location-dot, footer .datosFooter .listaFooter .fa-phone, footer .datosFooter .listaFooter .fa-envelope {
        margin-right: 20px; }
    footer .datosFooter .icons__redes {
      list-style: none;
      display: flex;
      justify-content: space-around; }
      footer .datosFooter .icons__redes .fa-linkedin, footer .datosFooter .icons__redes .fa-facebook, footer .datosFooter .icons__redes .fa-instagram {
        font-size: 40px;
        color: #b6a2a2; }
  @media only screen and (max-width: 950px) {
    footer .datosFooter, footer .fraseFooter, footer .linkFooter {
      padding: 5px;
      font-size: 1.6rem;
      margin: 0 auto;
      text-align: center; } }

h2 {
  font-family: "Lexend Peta", sans-serif;
  text-decoration: underline;
  text-align: center;
  font-size: 3rem;
  color: #d4c0c0;
  font-weight: 500;
  text-shadow: 1px 1px #ca4e4e;
  padding: 15px;
  width: auto; }
  @media only screen and (max-width: 1014px) {
    h2 {
      padding: 15px;
      font-size: 2rem; } }
  @media only screen and (max-width: 480px) {
    h2 {
      padding: 15px;
      font-size: 1.8rem;
      text-decoration: none;
      height: 60%; } }

p {
  font-size: clamp(1.6rem, 2rem, 2.5rem);
  text-align: justify;
  font-family: "Lato", sans-serif;
  color: #d4c0c0; }

h3 {
  font-family: "Lexend Peta", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  text-decoration: double underline;
  text-align: center;
  padding: 25px; }

main p {
  color: #d4c0c0;
  text-decoration: solid;
  text-align: center;
  padding: 75px; }
  @media only screen and (max-width: 950px) {
    main p {
      font-size: 1.8rem; } }

.tituloPosicion {
  position: relative; }
  .tituloPosicion .imagenJusticia {
    width: 100%; }
  .tituloPosicion #tituloIndex {
    font-family: "Lexend Peta", sans-serif;
    text-decoration: underline;
    text-align: center;
    font-size: 4rem;
    font-weight: 900;
    padding: 10px;
    width: 600px;
    position: absolute;
    top: 30%;
    left: 5%; }
    @media only screen and (max-width: 950px) {
      .tituloPosicion #tituloIndex {
        font-size: 2rem;
        width: 300px; } }
    @media only screen and (max-width: 480px) {
      .tituloPosicion #tituloIndex {
        font-weight: 800;
        color: #eddfdf;
        width: 300px;
        position: relative;
        margin: 0 auto;
        left: 0; } }
  @media only screen and (max-width: 950px) {
    .tituloPosicion {
      display: inline-block; } }
  @media only screen and (max-width: 480px) {
    .tituloPosicion {
      display: flex;
      flex-direction: column; } }

.parteIndexDos {
  width: 80%;
  padding: 7% 1.3rem 5% 1.3rem;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.852), rgba(0, 0, 0, 0.415));
  align-items: center;
  border-radius: 5px; }
  .parteIndexDos .tituloEstudio {
    text-shadow: 2px 2px #ca4e4e;
    font-weight: 700; }
  .parteIndexDos .anim-typewriter {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite; }
    @media only screen and (max-width: 950px) {
      .parteIndexDos .anim-typewriter {
        white-space: normal;
        animation: none; } }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }
  .parteIndexDos .parrafoPrincipal {
    color: #d4c0c0;
    font-size: 2.5rem;
    text-decoration: solid;
    line-height: 30px;
    text-align: center;
    padding: 75px; }
    @media only screen and (max-width: 950px) {
      .parteIndexDos .parrafoPrincipal {
        font-size: 2rem;
        padding: 25px; } }
    @media only screen and (max-width: 480px) {
      .parteIndexDos .parrafoPrincipal {
        font-size: 1.6rem; } }
  @media only screen and (max-widht: 950px) {
    .parteIndexDos {
      display: flex;
      flex-direction: column; } }

.parrafo__color {
  padding: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .parrafo__color .parr__uno {
    width: 75%; }
  .parrafo__color .parr__dos {
    width: 40%; }
  .parrafo__color .segundoParrafo {
    color: #d4c0c0;
    font-size: 2.5rem;
    padding: 25px;
    text-align: center; }
    @media only screen and (max-width: 480px) {
      .parrafo__color .segundoParrafo {
        font-size: 1.6rem; } }

.galeria__posicion {
  margin-bottom: 20px;
  overflow: hidden; }
  .galeria__posicion .carousel__fotos {
    transition: transform 0.8s cubic-bezier(0, 0.98, 1, 1); }
    .galeria__posicion .carousel__fotos .galeriaClientes {
      margin: 0 auto;
      filter: drop-shadow(2px 2px #000); }
      @media only screen and (max-width: 950px) {
        .galeria__posicion .carousel__fotos .galeriaClientes {
          width: 50%; } }
      @media only screen and (max-width: 480px) {
        .galeria__posicion .carousel__fotos .galeriaClientes {
          display: flex;
          flex-direction: column;
          padding: 10px; } }

main .form__margin {
  padding: 10px;
  display: flex; }
  main .form__margin form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 2px solid black;
    border-radius: 1em; }
    @media only screen and (max-width: 950px) {
      main .form__margin form {
        width: 250px; } }
    main .form__margin form label {
      display: inline-block;
      width: 100%;
      text-align: center;
      font-family: "Lilita One", serif;
      font-size: 1.8em;
      color: #d4c0c0; }
      @media only screen and (max-width: 950px) {
        main .form__margin form label {
          font-size: 1.4em !important; } }
    main .form__margin form input, main .form__margin form textarea {
      font: 1.8em sans-serif !important;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #999; }
      @media only screen and (max-width: 950px) {
        main .form__margin form input, main .form__margin form textarea {
          font-size: 1.4em !important; } }
    main .form__margin form button {
      width: 100%;
      margin: 0 auto;
      font-family: 'Lilita One', serif;
      font-size: 1.5em; }
      main .form__margin form button:hover {
        background-color: #000;
        color: #fff; }
      main .form__margin form button:focus {
        background-color: #6e4444;
        color: #b9a0a0; }
      main .form__margin form button li {
        list-style: none; }

.cambio__parrafo {
  margin: 0 15% 0 15%; }

.parrafoClientes {
  margin-top: 10vh;
  margin-bottom: 5vh;
  font-size: 2.5rem;
  text-align: center;
  padding: 20px; }
  @media screen and (max-width: 480px) {
    .parrafoClientes {
      font-size: 1.6rem; } }

.argento, .bajoCero {
  height: 70%; }

#tituloEspecializacion {
  padding: 20px; }

.especializacion p {
  padding: 20px;
  font-size: 2rem;
  text-align: center;
  flex-basis: 60vh; }
  @media only screen and (max-width: 950px) {
    .especializacion p {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 480px) {
    .especializacion p {
      flex-basis: 25vh; } }

.especializacion h3 {
  text-align: center;
  flex-basis: 60vh;
  color: #d4c0c0; }
  @media only screen and (max-width: 950px) {
    .especializacion h3 {
      font-size: 2rem; } }
  @media only screen and (max-width: 480px) {
    .especializacion h3 {
      flex-basis: 25vh;
      margin-top: 15px; } }

.especializacion .derechoLaboral, .especializacion .derechoDa単os, .especializacion .derechoSalud, .especializacion .derechoCivil {
  display: flex;
  align-items: center;
  justify-content: space-around; }
  @media only screen and (max-width: 480px) {
    .especializacion .derechoLaboral, .especializacion .derechoDa単os, .especializacion .derechoSalud, .especializacion .derechoCivil {
      flex-direction: column; } }

.especializacion .derechoDa単os, .especializacion .derechoCivil {
  flex-direction: row-reverse; }
  @media only screen and (max-width: 480px) {
    .especializacion .derechoDa単os, .especializacion .derechoCivil {
      flex-direction: column; } }

.especializacion .derechoLaboral {
  margin-top: 20px; }

.parrafoEnlacesinteres {
  padding: 15px 0;
  text-decoration: underline; }

.linksInteres {
  list-style: none; }
  @media only screen and (max-width: 480px) {
    .linksInteres {
      flex-direction: column;
      align-items: center; } }
  .linksInteres .enlacesInteres {
    font-family: "Belgrano", serif;
    text-decoration: none;
    font-size: 1.5rem;
    color: #d4c0c0;
    padding: 0 20px; }

.waveContainer {
  height: 400px;
  position: relative; }
  .waveContainer .img__wallpaper, .waveContainer .img__wallpaperdos, .waveContainer .img__wallpapertres {
    width: 100%;
    height: 70%;
    background-image: url(/images/mardelplatawallcomp-min.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; }
  .waveContainer .img__wallpaperdos {
    background-image: url(/images/mardelplatawalldos.jpg); }
  .waveContainer .img__wallpapertres {
    background-image: url(/images/mardelplatawalltres.jpg); }
  @media only screen and (max-width: 480px) {
    .waveContainer {
      display: none; } }

.tituloServicios {
  margin-bottom: 20px; }

.serviciosUno,
.serviciosDos {
  margin: 2vh;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .serviciosUno .hammerScreen,
  .serviciosUno .screenHammer,
  .serviciosDos .hammerScreen,
  .serviciosDos .screenHammer {
    padding: 15px; }
    @media only screen and (max-width: 950px) {
      .serviciosUno .hammerScreen,
      .serviciosUno .screenHammer,
      .serviciosDos .hammerScreen,
      .serviciosDos .screenHammer {
        width: 60%; } }
    @media only screen and (max-width: 580px) {
      .serviciosUno .hammerScreen,
      .serviciosUno .screenHammer,
      .serviciosDos .hammerScreen,
      .serviciosDos .screenHammer {
        width: 50%; } }
  .serviciosUno p,
  .serviciosDos p {
    border: 5px solid #111010;
    box-shadow: 0 5px 10px #262729; }

.serviciosUno p {
  margin: 0 5% 0 5%; }
  @media only screen and (max-width: 950px) {
    .serviciosUno p {
      margin: 0; } }

@media only screen and (max-width: 480px) {
  .serviciosUno {
    flex-direction: column; } }

@media only screen and (max-width: 480px) {
  .serviciosDos {
    display: flex;
    flex-direction: column-reverse; } }

.serviciosTres {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "parrafouno ." ". parrafodos";
  margin-left: 15vh;
  margin-right: 15vh; }
  .serviciosTres p {
    border: 5px solid #111010;
    box-shadow: 0 5px 10px #262729; }
  .serviciosTres .parr__uno {
    grid-area: parrafouno; }
  .serviciosTres .parr__dos {
    grid-area: parrafodos; }
  @media only screen and (max-width: 950px) {
    .serviciosTres {
      display: flex;
      flex-direction: column;
      padding: 20px; } }

.descripcionServicios {
  padding: 20px;
  font-size: 2rem;
  text-align: center; }
  @media only screen and (max-width: 950px) {
    .descripcionServicios {
      font-size: 1.6rem; } }

.descripcionQuienesSomos {
  padding: 30px;
  display: flex;
  flex-direction: column; }
  .descripcionQuienesSomos p {
    font-size: 2.5rem;
    padding: 50px; }
    @media only screen and (max-width: 950px) {
      .descripcionQuienesSomos p {
        font-size: 2rem; } }
    @media only screen and (max-width: 480px) {
      .descripcionQuienesSomos p {
        text-align: center;
        font-size: 1.5rem;
        padding: 10px; } }

.pablito {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 25% 75%;
  grid-template-areas: "tituloPablo fotoPablo" "parrafoPablo fotoPablo";
  justify-items: center; }
  @media only screen and (max-width: 950px) {
    .pablito {
      display: flex;
      flex-direction: column; } }
  .pablito .tituloPablo {
    grid-area: titulo;
    color: #b6a2a2;
    letter-spacing: -.5rem;
    position: relative;
    top: 50px; }
    @media only screen and (max-width: 950px) {
      .pablito .tituloPablo {
        font-size: 2rem;
        padding: 17px;
        position: unset; } }
    @media only screen and (max-width: 480px) {
      .pablito .tituloPablo {
        text-align: center;
        font-size: 1.5rem;
        letter-spacing: 0; } }
  .pablito .fotoPablo {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.852), rgba(0, 0, 0, 0.415));
    padding: 30px;
    grid-area: fotoPablo;
    box-shadow: 0 5px 15px 0px rgba(22, 22, 22, 0.6); }
    @media only screen and (max-width: 950px) {
      .pablito .fotoPablo {
        margin: 0 auto;
        animation: none; } }
    @media only screen and (max-width: 480px) {
      .pablito .fotoPablo {
        padding: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center; } }
  .pablito .descripcionPablo {
    grid-area: parrafoPablo; }
    .pablito .descripcionPablo .parrafoQuienesSomos {
      text-align: center;
      font-size: 2rem; }
      @media only screen and (max-width: 950px) {
        .pablito .descripcionPablo .parrafoQuienesSomos {
          font-size: 1.7rem;
          padding: 25px; } }
      @media only screen and (max-width: 480px) {
        .pablito .descripcionPablo .parrafoQuienesSomos {
          font-size: 1.5rem;
          padding: 17px; } }

.migue {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 25% 75%;
  grid-template-areas: "fotoMigue titulo" "fotoMigue parrafoMigue";
  justify-items: center; }
  @media only screen and (max-width: 950px) {
    .migue {
      display: flex;
      flex-direction: column; } }
  .migue .fotoMigue {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.852), rgba(0, 0, 0, 0.415));
    grid-area: fotoMigue;
    padding: 30px; }
    @media only screen and (max-width: 950px) {
      .migue .fotoMigue {
        margin: 0 auto;
        animation: none; } }
    @media only screen and (max-width: 480px) {
      .migue .fotoMigue {
        padding: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center; } }
  .migue .tituloMigue {
    grid-area: titulo;
    color: #b6a2a2;
    letter-spacing: -.5rem;
    position: relative;
    top: 100px; }
    @media only screen and (max-width: 950px) {
      .migue .tituloMigue {
        font-size: 2rem;
        padding: 17px;
        position: unset; } }
    @media only screen and (max-width: 480px) {
      .migue .tituloMigue {
        text-align: center;
        font-size: 1.5rem;
        letter-spacing: 0; } }
  .migue .descripcionMigue {
    grid-area: parrafoMigue; }
    .migue .descripcionMigue .parrafoQuienesSomos {
      text-align: center;
      font-size: 2rem; }
      @media only screen and (max-width: 950px) {
        .migue .descripcionMigue .parrafoQuienesSomos {
          font-size: 1.7rem;
          padding: 25px; } }
      @media only screen and (max-width: 480px) {
        .migue .descripcionMigue .parrafoQuienesSomos {
          font-size: 1.5rem;
          padding: 17px; } }

@media only screen and (max-width: 480px) {
  .fotito {
    height: 143px;
    width: 114px;
    padding: 0;
    border: none; } }

@media only screen and (max-width: 480px) {
  .fotitodos {
    height: 143px;
    width: 83px;
    border: none;
    padding: 0; } }

.divMigue, .descripcionMigue, .divPablito, .descripcionPablo {
  width: 100%; }
