.parrafoClientes{
    margin-top: 10vh; 
    margin-bottom: 5vh;
    font-size: map-get($styles, ft-size);
    text-align: map-get($styles, txt-aligns);
    padding: 20px;
}
.argento, .bajoCero{
    height: 70%;
  }

//SCSS DE GALERIA EN INDEX//@
