.tituloPosicion{
    position:relative;
    .imagenJusticia{
        width: 100%;
    }
    #tituloIndex{
        @include titulos($font-one, $underline, $align-center, 'true');
        font-weight: 900;
        padding: 10px;
        width: 600px;
        position: absolute;
        top: 30%;
        left:5%;
        @media only screen and (max-width: 950px){
            font-size: 2rem;
            width: 300px;
        }
        @media only screen and (max-width: 480px) {
            font-weight: 800;
            color:rgb(237, 223, 223);
            width: 300px;
            position:relative;
            margin: 0 auto;
            left: 0;
        }
    }
    @media only screen and (max-width: 950px){
        display: inline-block;
    }
    @media only screen and (max-width: 480px){
        display: flex;
        flex-direction: column;
    }
    
}

.parteIndexDos{
    width: 80%;
    padding: 7% 1.3rem 5% 1.3rem;
    background: $bg-index;
    align-items: center;
    border-radius: 5px;
    .tituloEstudio{
        text-shadow: 2px 2px $shadow-txt;
        font-weight: 700;
    }
    .anim-typewriter{
        overflow: hidden; 
        white-space: nowrap; 
        margin: 0 auto; 
        letter-spacing: .15em; 
        animation: 
          typing 3.5s steps(30, end),
          blink-caret .5s step-end infinite;
        @media only screen and(max-width: 950px) {
            white-space: normal;
            animation: none;
        }
      }
      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }
      .parrafoPrincipal{
        color: $txtcl;
        font-size: 2.5rem;
        text-decoration:solid;
        line-height: map-get($styles, line_height);
        text-align: map-get($styles, txt-aligns);
        padding: 75px;
        @media only screen and (max-width: 950px) {
            font-size: 2rem;
            padding: 25px;
        }
        @media only screen and (max-width: 480px) {
            font-size: 1.6rem;
        }
    }
    @media only screen and (max-widht: 950px){
        display: flex;
        flex-direction: column;
    }
}

.parrafo__color{
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .parr__uno{
        width: 75%;
    }
    .parr__dos{
        width: 40%;
    }
    .segundoParrafo {
        color: $txtcl;
        font-size: map-get($styles, ft-size);
        padding: map-get($styles, pd-general);
        text-align: map-get($styles, txt-aligns);
        @media only screen and (max-width: 480px){
            font-size: 1.6rem;
        }
    }
}
.galeria__posicion{
    @extend %dpflex;
    margin-bottom: $margin-bottom;
    overflow: hidden;
    .carousel__fotos {
        transition: transform .8s cubic-bezier(0, 0.98, 1, 1);
        .galeriaClientes{
            margin: 0 auto;
            filter: drop-shadow(2px 2px #000);
            @media only screen and (max-width:950px) {
                width: 50%;               
            }
            @media only screen and (max-width:480px){
                display: flex;
                flex-direction: column;
                padding: 10px;
            }
        } 
    }
}

