.tituloServicios{
    margin-bottom: $margin-bottom;
    
}
.serviciosUno, .serviciosDos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    #hammerScreen, .screenHammer{
        @media only screen and (max-width: 950px) {
            width: 60%;
        }
        @media only screen and (max-width: 580px) {
            width: 50%;
        }
    }
    p{
        border: 5px solid #111010;
        box-shadow: 0 5px 10px rgb(38, 39, 41);
    }
}
.serviciosUno{
    p{
        margin: 0 5% 0 5%;
        @media only screen and (max-width: 950px){
            margin: 0;
        }
    }
    @media only screen and (max-width: 480px){
        flex-direction: column;
    }
  }
.serviciosDos{
    @media only screen and (max-width: 480px){
        display: flex;
        flex-direction: column-reverse;
    }
  }
.serviciosTres{
   margin-left: 15vh;
   margin-right: 15vh;
   p{
    margin-top: 20px;
    border: 5px solid #111010;
    box-shadow: 0 5px 10px rgb(38, 39, 41);
   }
}
.descripcionServicios{
    padding: 20px;
    font-size: 2rem;
    text-align: center;
    @media only screen and (max-widht: 950px) {
        font-size: 1.6rem;
    }
}