html {
    font-size: 62.5%;
}
*{
    box-sizing: border-box;
    @include reset-pm();
}
body{
    background: $bg;
}
header{
    display: flex;
    flex-flow: row  nowrap;
    justify-content: space-between;
    align-items: flex-end;
    @media only screen and(max-width: 950px) {
        flex-direction: column;
        align-items: center;
    }
}   
.logoEstudio{
    @media only screen and (max-width: 950px){
        width: 100px;
        height: 85px; 
    }
    @media only screen and (max-width: 480px){
        width: 100px;
        height: 85px;
    }
}
.barraDeNavegacion{
    ul{
        li{
            padding: 20px;
            text-align: $align-center;
            @media only screen and (max-width: 480px){
                padding: 5px;
            }
        }
    }
    @media only screen and (max-width: 950px){
        display: none;
    }
}
.linksDerecha{
    list-style: none;
    display: flex;
    transition: .5s linear;
    &:hover{
        color: $txt-white;
        text-shadow: 0 0 15px white,
        0 0 30px white,
        0 0 60px white;
    }
    &:hover:nth-child(1){
        margin-right: 5px;
    }
    &:hover:nth-child(2){
        margin-right: 30px;
    }
    a{
        text-decoration: none;
        color: #fff;
        font-family: $font-one;
        font-size: 1.6rem;
        font-weight: 300;
        &:hover{
            color: darkkhaki;
        }
        &:active{
            color: black;
        }
        @media only screen and (max-width: 950px){
            font-size: 1.4rem;
            text-align: $align-center;
        }
    }
    li{
        padding: 10px;
    }
    @media only screen and (max-width: 950px){
        background: $bg;
        text-align: $align-center;
        background: rgba(0, 0, 0, 0.415);
        border-radius: 10px;
        height: 11vh;
        align-items: $align-center;
    }
    @media only screen and (max-width: 480px){
        flex-direction: column;
        background: rgba(0, 0, 0, 0.852);
        padding: 25px;
        height: 100%;
    }
}
.barra{
    display: none;
    z-index: 1000;
    @media only screen and (max-width: 950px){
        display: inline-block;
        position:absolute;
        right: 1rem;
        top: 1rem;
    }
        .btn__nav{
            .btn__navflex{
                justify-content: flex-end;
                .icon__hoover{
                    &:hover{
                        color: $txt-white;
                        text-shadow: 0 0 15px white,
                        0 0 30px white,
                        0 0 60px white;
                    }
                }
            }
        }

}
.fa-whatsapp-square{
    font-size: 50px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: rgb(48, 204, 48);
    @media only screen and (max-width: 950px){
        font-size: 40px;
    } 
}
footer{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $bg-footer;
    @media only screen and (max-width: 950px){
        flex-direction: column;
    }
    .hijoFooterUno{
        width: 33%;
        @media only screen and (max-width: 950px){
            width: auto;
        }
        .fraseFooter{
            padding: 10px;
            font-family: $font-one;
            font-size: 1.5rem;
            @media only screen and (max-width: 1200px){
                text-align: $align-center;;
            }
        }
    }
    .fa-registered{
        padding: 5px;
    }
    .iframeMapa{
        margin-top: 1rem;
        display:flex;
        justify-content: center;
        width: 33%;
        height: 225px;
        @media only screen and (max-width: 950px){
            height: 112px;
        }
    }
    .datosFooter{
        width: 33%;
        font-family: $font-one;
        color:$txtcl;
        letter-spacing: -.2rem;
        font-size: 1.5rem;
        margin-right: 15px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        .listaFooter{
            left: 33%;
            list-style: none;
            display:flex;
            flex-direction: column;
            align-items: center;
            .fa-location-dot, .fa-phone, .fa-envelope{
                margin-right: 20px;
            }
            @media only screen and (max-width: 1200px){
                align-items: flex-start;
            }
            @media only screen and (max-width: 480px){
                li{
                    margin: 0 auto;
                }
            }
        }
        .icons__redes{
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            padding-top: 10px;
            .fa-linkedin, .fa-facebook, .fa-instagram{
                font-size: 40px;
                color: $txt-titulos;
            }            
        }
    }
    @media only screen and (max-width: 950px){
        .datosFooter, .fraseFooter{
            padding: 5px;
            font-size: 1.6rem;
            text-align: center;
            width: auto;
        }
    }

}

h2{
    @include titulos($font-one, $underline,$align-center, 'false');
    color: $txtcl;
    font-weight: 500;
    text-shadow: 1px 1px $shadow-txt;
    padding: 15px;
    width: auto;
    @media only screen and (max-width: 1014px) {
        padding: 15px;
        font-size: 2rem;
    }
    @media only screen and (max-width: 480px){
        padding: 15px;
        font-size: 1.8rem;
        text-decoration: none;
        height: 60%;
    }
}

p{
    font-size: clamp(1.6rem, 2rem, 2.5rem);
    text-align: justify;
    font-family: $font-two;
    color: $txtcl;
}

h3{
    font-family: $font-one;
    font-weight: 600;
    font-size: 3rem;
    text-decoration: double underline;
    text-align: center;
    padding: 25px;
}
main{
    p{
        color: $txtcl;
        text-decoration:solid;
        line-height: map-get($styles, line-height);
        text-align: map-get($styles, txt-aligns);
        padding: 75px;
        @media only screen and (max-width: 950px){
            font-size: 1.8rem;
        }
    }
}
