//colores de texto
$txtcl: #d4c0c0;
$txtcl-two: #f29;
$txt-white: #fff;
$txt-titulos: #b6a2a2;
$shadow-txt: #d49a9a;
$txt-index: #0a0909;

//Fonts-Familys y letras
$font-one: 'Lexend Peta', sans-serif;
$font-two: 'Kaushan Script', serif;
$font-three: 'Lilita One', serif;
$font-four: 'Belgrano', serif;
$underline: underline;
$align-center: center;


//Background
$bg: linear-gradient(to right, #4b0505f8, #682323f8);
$bg-index: linear-gradient(to right, rgba(0, 0, 0, 0.852), rgba(0, 0, 0, 0.415));


//general

@mixin reset-pm {
    padding: 0;
    margin: 0;
}

@mixin titulos($font-family, $underline, $align-center,$font-size) {
    font-family: $font-family;
    text-decoration: $underline;
    text-align: $align-center; 
    @if($font-size == 'true'){
        font-size: 4rem;
    } @else if($font-size == 'false'){
        font-size: 3rem;
    }
}
%dpflex{
    display: flex;
    justify-content: center;
    align-items: center;
}

$styles:(
    shadow-txt: 1px 1px #d49a9a,
    pd-general: 25px,
    txt-aligns: center,
    line_height: 30px,
    ft-size: 2rem,
);




